
header,
section,
aside,
footer {
	margin: 0 1.5% 24px 1.5%;
}
section {
	float: center-left;
	width: 63%;
}
aside {
	float: right;
	width: 30%;
}
footer {
	clear: both;
	padding: 5px;
	border: 3px;
	border-style: solid;
	border-color: 444455;
	
}

h1 {
	color: 0f0fa0;
}

h4 {
	margin-bottom: 3px;
}


body {
	background-color: fafaff;
	font-family:"Helvetica", serif;